:root{
    --color1:#BEA99D;
    --color2:#967865;
    --color3:#E5DCD7;
}
body{
    scroll-behavior: smooth;
}
h1,h2,h5{
    font-family: 'Aboreto', cursive; 
    font-weight: 900;
}
.bg-color{
    background-color: var(--color3);
}
.gray-text{
    color: rgb(186, 188, 188);
}
.star-color{
 color: var(--color2);
}
.nav{
    position: fixed;
    top: 30%;
    right: 2%;
    background-color: var(--color2);
    z-index: 99;
    text-align: center;
    a{
        color: white;
        text-decoration: none;
        margin-bottom: 0 !important;
        transition: all 0.5s;
    }
    li{
        padding: 1em 2em;
        transition: all 0.5s;
        &:hover{
            background-color: var(--color3);
            a{
                color: var(--color2);
            }
           
        }
    }
}
#home{
    background-image: url(../images/home1.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    .hi{
        &::after{
            content: "";
            animation: dot 3s infinite linear;

        }
    }
    h1{
        font-weight: 900;
        font-size: 4rem;
        color: #F9F2ED;
        
    }
    @keyframes dot {
       
        30%{content:".";}
        60%{content: '..';}
        90%{content: '...';}
        
    }
  

}
#profile{
    .myimg{
        padding: 0.5em;
        border-radius: 50%;   
    }
    .circle-around{
        width: 50%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        animation: animated-circle 5s infinite linear ;
        border-color: var(--color1);
        border-style: solid;
        border-width: 0;
    }
    .bg-color{
        display: none;
    }

}
@keyframes animated-circle {
     0%{border-top-width: 0px; border-right-width: 4px;}
     20%{border-right-width: 0px; border-bottom-width: 4px;}
     40%{border-bottom-width: 0px; border-left-width: 4px;}
     60%{border-left-width: 0px; border-top-width:4px;}
     80%{border-top-width:0px;} 
}

.project-card{
    background-color: var(--color1);
    text-align: center;
    position: relative;
    display: none;

    .layout{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba($color: #BEA99D, $alpha: 0.9);
    padding: 2%;
    opacity: 0;
    transition: 0.5s ;
    a{
        color: #000;
        padding: 0 1em;
        transition: all 0.5s;
        &:hover{
            display: inline-block;
            transform: scale(1.5);
        }
    }
    }
    &:hover{
    .layout{
        opacity: 1;
    }
    }

}
.contact-list{ 
    a{
        color: #000; 
    }
    li{
        border-radius: 50%;
        padding: 0.18em;
        transition: all 0.5s;
        border: 2px solid transparent;
        &:hover{
        border: 2px solid var(--color1);
        i{
            background-color: transparent;
        }
        }
    }
    i{
        background-color: var(--color1);
        padding: 1em;
        border-radius: 50%;
        transition: all 0.5s;   
    }
    ul{
        display: flex;
        justify-content: center;
        column-gap: 2em;
    
    }
}



